* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 0.75rem;
}

/*
 *grid
 */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .col {
    float: left;
  }

  .col-8 {
    width: calc(8/12 * 100%);
  }

  .col-4 {
    width: calc(4/12 * 100%);
  }
}

/*
 *app styles
 */
#app {
}

#sidebar {
}

/*
 *room styles
 */
.room {
  /*max-height: 100%;*/
  /*height: 600px;*/
  position: relative;
  background-image: url('../img/dormroom-blank.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 100%; /* fancy tricks - for aspect ratio */
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.25s ease-in-out;
}

.item:not([data-type="room"]) {
  opacity: 0;
  z-index: 10;
}

.item.active {
  opacity: 1;
}

/*
 *sidebar styles
 */
.sidebar {
  position: relative;
  height: 40rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidebar__body {
  position: absolute;
  background-color: #fff;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.sidebar__menu {
  position: absolute;
  background-color: #fff;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  /*opacity: 0;*/
  pointer-events: none;
  transition-property: transform;
  transition-duration: 0.125s;
  transition-timing-function: ease-in-out;
}

@media (max-width: 768px) {
  .sidebar {
    overflow-y: hidden;
    height: 6rem;
  }

  .sidebar.active {
    overflow-x: scroll;
    overflow-y: hidden !important;
  }

  .sidebar__menu {
    white-space: nowrap;
  }

  .sidebar__menu button {
    display: inline-block;
    width: 5rem;
    height: 100%;
    float: none;
  }

  .sidebar__menu .menu-item {
    margin-left: -3px;
    position: relative;
    left: -3px;
  }
}

.sidebar.active {
  overflow-y: scroll;
}

.sidebar.active .sidebar__menu {
  /*opacity: 1;*/
  transform: translateX(0);
  pointer-events: all;
}

/*
 *menu styles
 */
.menu {

}

.menu-item {
  display: block;
  width: 50%;
  height: 10rem;
  float: left;
  border: 3px solid white;
  border-radius: 0;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;
  transition-property: color, border-color, background-color;
  transition-duration: 0.125s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.menu-item:focus {
  outline: none;
}

.menu-item.active {
  background-color: #ddd;
}

/*
 *buttons
 */
.btn {
  padding: 0.4rem 0.8rem;
  border: 1px solid;
  color: #fff;
  background-color: #e83a9f;
  cursor: pointer;
}

.btn--full-width {
  display: block;
  width: 100%;
}

#sidebar__toggle.btn,
#sidebar__clear.btn {
  border: 3px solid white;
}

/*
 *layers
 */
.l-01 { z-index: 1 }
.l-02 { z-index: 2 }
.l-03 { z-index: 3 }
.l-04 { z-index: 4 }
.l-05 { z-index: 5 }
.l-06 { z-index: 6 }
.l-07 { z-index: 7 }
.l-08 { z-index: 8 }
.l-09 { z-index: 9 }
.l-10 { z-index: 10 }
.l-11 { z-index: 11 }
.l-12 { z-index: 12 }
